.card_row {
  display: flex;
  align-items: center;
}


.card_row  .form-group:nth-child(1n){
  flex: 6;

}

.card_row  .form-group:nth-child(2n){
  flex: 2;
  padding: 0 30px;
}


.card_row  .form-group:nth-child(3n){
  flex: 1;
}


.has-error input {
    border-color:red;
}

.form-control:focus {
    box-shadow: none !important;
}
